body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: #000000;
    
    background: linear-gradient(270deg, #FFFFFF, #EBFAED);
    overflow-x: hidden;
}

:root {
    --mainColor: #26de81;
    --secColor: #ffa860;
}

.container {

    width: 99.8vw;
    overflow-x: hidden;


}

::-webkit-scrollbar {
    width: 0.6rem;

}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);


}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-image: linear-gradient(to top, #26de81, #ffb47e);

}

header {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #26de81;
    column-gap: 480px;
}

ul {
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 70px;
    padding: 3px;
    height: fit-content;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;

}

.navbar-item {
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    color: rgb(0, 0, 0);
}

.navbar-item:hover {
    background-color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.center-portion {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

}

.all-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 500px;
    row-gap: 40px;
    padding: 5px;
    margin-top: 0px;


}

.all-icons img {
    height: 100px;
    transition: 0.2s;
    border-radius: 50%;

}

input {
    height: 37px;
    width: 350px;
    padding: 4px;
    font-size: 20px;
    outline: none;
    transition: 1s;
    border: none;

    outline: none;

}

#mysearch {
    border: none;
    outline: none;
}

.enter-link-file {
    border: 4px solid rgb(251, 134, 134);
    border-radius: 20px;
    display: flex;
    column-gap: 5px;
    align-items: center;

}

.enter-link-file img {
    width: 30px;

}

.enter-link-file img:hover {
    cursor: pointer;
    border: 0.5px solid rgb(227, 225, 225);
    border-radius: 50%;

}

.enter-link-file:hover {
    border: 3px solid black;
    outline: black;

}

.all-icons img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.enterSome {
    transition: 1s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;

}

footer {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 2px solid black;
    margin-top: 50px;
    

}

.chitkara-logo {
    height: 400px;

}

.india-image {


    padding: 5px;
}

.made-in {

    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-upload {
    display: none;
}

#mysearch {
    border: 2px solid black;
    width: 250px;
    height: 24px;


}

.CUheading {
    position: absolute;
    left: 47%;
}

.contactbox {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 34%;
    top: 130px;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    box-shadow: 0px 10px 8px 4px rgb(0, 0, 0);
    border: 4px solid black;
    border-radius: 20px;



}



@media screen and (max-width: 567px) {

    header {
        font-size: 10px;
        height: 9vh;
    }

    header ul {
        column-gap: 10px;

    }

    input {
        width: 90vw;
    }

    .all-icons {
        width: 90vw;
    }

    .all-icons img {
        height: 70px;
    }

    .chitkara-logo {
        height: 300px;
    }

}

.email_1 img {
    position: relative;
    top: 80px;
    left: 20px;
}


.email_1 h2 {
    position: relative;
    left: 110px;
}

.phone_1 img {
    position: relative;
    top: 80px;
    left: 20px;
}

.phone_1 h2 {
    position: relative;
    left: 110px;
}

.instagram_1 img {
    position: relative;
    top: 80px;
    left: 20px;
}

.instagram_1 h2 {
    position: relative;
    left: 110px;
}



.center-portion_1 {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;
    bottom: 20px;
}

header div img {
    height: 40px;
    width: 40px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    cursor: pointer;

}

.upper-heading {
    font-size: 60px;
    text-transform: uppercase;
    padding: 20px;


}

.upper-heading span {
    color: #26de81;
    animation: changecolor 7.15s linear infinite;
    position: relative;
}

.upper-heading span:hover {
    bottom: 19px;
}

@keyframes changecolor {
    0% {
        color: #ffa860;
    }

    90% {
        color: #3eff9f;
    }

    100% {

        color: #ffb47e;

    }
}

.upper-heading span:nth-child(1) {

    animation-delay: 0.25s;
}

.upper-heading span:nth-child(2) {

    animation-delay: 0.50s;
}

.upper-heading span:nth-child(3) {

    animation-delay: 0.75s;
}

.upper-heading span:nth-child(4) {

    animation-delay: 1s;
}

.upper-heading span:nth-child(5) {

    animation-delay: 1.25s;
}

.upper-heading span:nth-child(6) {

    animation-delay: 1.5s;
}

.upper-heading span:nth-child(7) {

    animation-delay: 1.75s;
}

.upper-heading span:nth-child(8) {

    animation-delay: 2s;
}

.upper-heading span:nth-child(9) {

    animation-delay: 2.25s;
}

.upper-heading span:nth-child(10) {

    animation-delay: 2.5s;
}

.upper-heading span:nth-child(11) {

    animation-delay: 2.75s;
}

.upper-heading span:nth-child(12) {

    animation-delay: 3s;
}

.upper-heading span:nth-child(13) {

    animation-delay: 3.25s;
}

.upper-heading span:nth-child(14) {
    animation-delay: 3.5s;
}

.upper-heading span:nth-child(15) {

    animation-delay: 3.75s;
}

.upper-heading span:nth-child(16) {
    animation-delay: 4s;
}

.upper-heading span:nth-child(17) {
    animation-delay: 4.15s;
}

.upper-head-span:hover {
    cursor: pointer;
    color: #0f9251;

}

.quote {
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    padding: 5px;
    margin-top: 14px;
}

.dark-mode {
    cursor: pointer;

}

.take-input {
    border: 2px solid #26de81;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
}

.take-input-search-button {
    display: flex;
    flex-direction: row;
}

.take-input input {
    border-radius: 10px;
}

.searchbtn {
    background-color: var(--mainColor);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    padding: 16px;
    letter-spacing: 0.8px;
    border-top-right-radius: 8px;
}

.take-input button:hover {
    background-color: #46fda2;
}

.lst {
    display: flex;
    align-items: center;
    font-size: 19px;
    background: linear-gradient(270deg, #FFFFFF, #edf7f0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    column-gap: 70px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
    border: 0.1px solid var(--mainColor);
    row-gap: 20px;
}

.combine-lst {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.lst img {
    height: 144px;
    width: 108px;
    border-radius: 15px;
    transition: 0.5s;
}

.lst img:hover {
    transform: scale(1.3, 1.3);
}

.lst button {
    background-color: var(--mainColor);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.8px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
}

.lst:hover {
    background-image: none;
    background-color: #f2fcf7;
}

.loader {
    height: 30px;
    width: 30px;
    border: 7px solid rgb(251, 182, 61);
    border-top: 7px solid #26de81;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    animation: rotate 1s ease-in-out infinite;
    border-style: dotted;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.transparent-bg {
    opacity: 0.03;
}

.getcont {
    height: 100vh;
    width: 100vw;
    position: absolute;
    cursor: none;

    visibility: hidden;

    z-index: 9999;
}

.rating-button img {
    height: 30px;
    width: 30px;
}

.rating-button {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 110px;
}

.stars {
    display: flex;
    column-gap: 7px;
}

.combine-lst span {
    text-transform: capitalize;
    letter-spacing: 1px;

}

.heart img {
    border: none;

    border-radius: 0px;
}

.favourite {
    border: 2px solid var(--secColor);
    width: 50vw;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    justify-content: space-evenly;
    margin-top: 25px;
}

.favourite>img {
    height: 200px;
    width: 150px;
    border-radius: 20px;
}

.favourite {
    font-size: 37px;
}

.nothing-head {
    font-size: 87px;
    color: var(--secColor);
}
.top-channels{
    
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.flex-top-channels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 40px;
    column-gap: 40px;
    background-color: transparent;
   
}
.flex-top-channels img{
    height: 150px;
    width: 155px;
    border-radius: 50%;
    cursor: pointer;
}
.flex-top-channels img:hover{
    box-shadow: 0px 0px 20px 3px rgb(218, 218, 218);
}
.get-info-div{
    background-color: black;
    color: white;
    position: absolute;
    font-size: 9px;
    opacity: 0.7;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    transition: 0.2s;
    visibility: hidden;
}
.polling-container{
    height: 91vh;
    width: 100vw;
    /* border: 2px solid black; */
}
.all-polls{
    /* border: 2px solid rgb(70, 33, 255); */
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items:end;
}

.poll-img{
    height: 100px;
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
    transition: 0.7s;
}
.poll{
    /* height: 290px; */
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.7s;
    
}
.poll-div{
    
    /* background-color: #ffa860; */
    width: 100px;
    transition: 1.7s;
}
.h3{
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.poll:nth-child(1){
    /* height: 200px; */
    
    box-shadow: 0px 0px 5px 0px var(--mainColor);
    background-color: #3eff9f;
}
.poll:nth-child(2){
    /* height: 400px; */
    box-shadow: 0px 0px 5px 0px var(--secColor);
    background-color: var(--secColor);
}
.poll:nth-child(3){
    /* height: 500px; */
    box-shadow: 0px 0px 5px 0px #f9ca24;
    background-color:#f9ca24;
}
.poll:nth-child(4){
    /* height: 450px; */
    box-shadow: 0px 0px 5px 0px #eb4d4b;
    background-color: #eb4d4b;
}
.poll:nth-child(5){
    /* height: 550px; */
    box-shadow: 0px 0px 5px 0px #686de0;
    background-color: #686de0;
}
.poll:nth-child(6){
    /* height: 350px; */
    box-shadow: 0px 0px 5px 0px #be2edd;
    background-color: #be2edd;
}
.poll:nth-child(7){
    /* height: 450px; */
    box-shadow: 0px 0px 5px 0px #badc58;
    background-color: #badc58;
}
.poll:nth-child(8){
    /* height: 360px; */
    box-shadow: 0px 0px 5px 0px #ff6b81;
    background-color:#ff6b81;
}
.poll:nth-child(9){
    /* height: 434px; */
    box-shadow: 0px 0px 5px 0px #e15f41;
    background-color: #e15f41;
}
.poll-img:hover{
    scale: 1.2;
}

.pop-container{
    box-shadow: 0px 0px 23px 1px #c9c9c9;
     height: 300px;
     width: 400px;
     border-radius:13px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color:#f1fff8 ;
     position: absolute;
     z-index: 9999;
     margin: auto;
     margin-top: 30vh;
     margin-left: 70vh;
     /* transition: 0.6s; */
     visibility: hidden;
 }
 .icon-imgs{
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 20px;
 }
 .icon-imgs img{
     height: 70px;
     cursor: pointer;
 }
 .icon-imgs img:hover{
     scale: 1.2;
 }
 .okay{
     height:50px;
     width: 100px;
     font-size: 25px;
     border-radius: 10px;
     background-color: #e15f41;
     border: none;
     outline: none;
     color: white;
     font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-family: cursive;
     margin-top: 20px;
     margin-left: 230px;
     cursor: pointer;
     font-family:Arial, Helvetica, sans-serif;
     
     
 }
 .okay:hover{
     background-color: #e8ada0;
     
 }
 .pop-container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.confetti{
    position: absolute;
    z-index: -1;
}
.container-login{
    height: 100vh;
    width: 100vw;
    background-image: url('/static/images/liquid-cheese\ \(2\).svg');
    background-size: 100%;
    
    
}
.login-container{
    
    height: 60vh;
    width: 20vw;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    row-gap: 40px;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 15px white;
    

}
.enter-text{
    width: 300px;
    background-color: ;
    border-radius: 20px;
    color: var(--secColor);
    font-weight: bold;
    font-size: 28px;
    /* box-shadow: 0px 0px 5px 7px rgb(250, 248, 248); */

}
.inp-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.up-file img{
    height: 100px;
    width: 100px;
}
.up-image-label img{
   
    height: 100px;
    width:96px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
    
}

.up-image-label img:hover{
    scale: 1.2;
}
#up-file{
    display: none;
}
.same-div{
    height: 200px;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload{
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color:var(--secColor);
    color: white;
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
    
    border: none;

}
.upload:hover{
    background-color: rgb(248, 181, 73);
}
.c2{
    background-color: var(--secColor);
    border-radius: 7px;
}
.up-gif{
    height: 200px;
    width: 200px;
}


 
