<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    
    
</head>
<body>
    <div class="container">

        <header>
            <ul class="navbar-items">
                <li class="navbar-item"><a style="color: black;text-decoration: none;" href="index.html">Home</a></li>
                <li class="navbar-item"><a style="color: black;text-decoration: none;" href="about.html">About us</a></li>
                <li class="navbar-item"><a href="contact_us.html" style="color: black; text-decoration: none;">Contact Us</a></li>
                <li class="navbar-item"><a href="mentor.html" style="text-decoration: none; color: black;">Our teacher</a></li>
            </ul>
        </header>
        <div class="center-portion_1">
            <img class="chitkara-logo" src="static/images/chitkara.png" alt="" srcset="">
            <h2>Made By:</h2>
            <h2>Nakul Gupta-2310990579</h2>
            <h2>Naman Bansal-2310990580</h2>
            <h2>Lovish Arora-2310990581</h2>
            <div class="made-in">

                <h3>Made With ❤️ in 
                </h3>
                    <img src="https://cdn-icons-png.flaticon.com/128/321/321238.png" height="26" class="india-image" alt="india">
                </div>
            
            
        </div>
        <footer class="footer_1">
            <h2><center>CopyRight All Rights Reserved 2023</center></h2>
        </footer>
        </div>
    
</body>
</html>