<html>
    <head><link rel="stylesheet" href="/static/style.css"></head>
    <header>
        <ul class="navbar-items">
            <li class="navbar-item"><a style="color: black;text-decoration: none;" href="index.html">Home</a></li>
            <li class="navbar-item"><a style="color: black;text-decoration: none;" href="about.html">About us</a>
            </li>
            <li class="navbar-item"><a style="color: black;text-decoration: none;" href="contact_us.html">Contact
                    Us</a></li>
            <li class="navbar-item"><a href="mentor.html" style="text-decoration: none; color: black;">Our
                    teacher</a></li>
        </ul>
        <div>
            <input style="border: none; height: 30px;padding: 5px;" id="mysearch" type="text"
                placeholder="Enter Search">
            <img id="load-poll" src="static/images/graph.gif" alt="">
            <img id="dark-mode" style="display: none;" src="static/images/graph.gif" alt="">
            <a href="polling.html">

                <img class="user" src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png" alt="" srcset="">
            </a>
            <a href="login.html">

                <img src="https://cdn-icons-png.flaticon.com/128/1647/1647547.png" alt="" srcset="">
            </a>
        </div>
    </header>

<div class="CUheading">
    <h2>CONTACT US</h2>
</div>

<div class="contactbox">
    <div class="email_1">
    <img src="static/images/email-removebg-preview.png" alt="" height="80px" width="80px">
    <h2>&rarr; admissions@chitkara.edu.in</h2>
    </div>
    <div class="phone_1">
        <img src="static/images/download-removebg-preview.png" alt="" height="80px" width="80px">
        <h2>&rarr; 9867845608</h2>
    </div>
    <div class="instagram_1">
     <img src="static/images/insta.png" alt="" height="80px" width="80px">
     <h2>&rarr; SOCIAL HUNTERS_23</h2>

    </div>



    <footer class="foot" style="position: relative; top: 112px; width: 1534px; right: 535px; height: 90px;">
        <h2><center>CopyRight All Rights Reserved 2023</center></h2>
     </footer>
    
    
    
</div>















</html>