<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">

        <header>
            <ul class="navbar-items">
                <li class="navbar-item"><a style="color: black;text-decoration: none;" href="index.html">Home</a></li>
                <li class="navbar-item"><a style="color: black;text-decoration: none;" href="about.html">About us</a>
                </li>
                <li class="navbar-item"><a style="color: black;text-decoration: none;" href="contact_us.html">Contact
                    Us</a></li>
            <li class="navbar-item"><a href="mentor.html" style="text-decoration: none; color: black;">Our
                teacher</a></li>
            </ul>
            <div>
                <input style="border: none; height: 30px;padding: 5px;" id="mysearch" type="text"
                placeholder="Enter Search">
                <img id="load-poll" src="/static/images/graph.gif" alt="">
                <!-- <img id="dark-mode" style="display: none;" src="/static/images/graph.gif alt=""> -->
                <a href="polling.html">

                    <img class="user" src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png" alt="" srcset="">
                </a>
                <a href="login.html">

                    <img src="https://cdn-icons-png.flaticon.com/128/1647/1647547.png" alt="" srcset="">
                </a>
            </div>
        </header>
        <div class="center-portion">
            <div class="combine-lst">
            </div>
        </div>
    </div>
</body>
<script src="/static/js/favourite.js"></script>
</html>