<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add People</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container-login">
        <div class="pop-container pop2">
            <h2>Are You Sure Want To Upload</h2>
            <img class="up-gif" src="https://cdn.dribbble.com/users/1478651/screenshots/6380506/ellipse-170_1.gif" alt="" srcset="">
            <button class="okay c2">Okay</button>

        </div>
        <div class="log-conty">

            <header>
                <ul class="navbar-items">
                    <li class="navbar-item"><a style="color: black;text-decoration: none;" href="index.html">Home</a></li>
                    <li class="navbar-item"><a style="color: black;text-decoration: none;" href="about.html">About us</a>
                    </li>
                    <li class="navbar-item"><a style="color: black;text-decoration: none;" href="contact_us.html">Contact
                        Us</a></li>
                        <li class="navbar-item"><a href="mentor.html" style="text-decoration: none; color: black;">Our
                            teacher</a></li>
                        </ul>
                        <div>
                            <input style="border: none; height: 30px;padding: 5px;" id="mysearch" type="text"
                            placeholder="Enter Search">
                           <a href="polling.html">
                            
                               <img id="load-poll" src="/static/images/graph.gif" alt="">
                           </a> 
                            <img id="dark-mode" style="display: none;" src="/images/graph.gif" alt="">
                            <a href="favourites.html">
            
                                <img class="user" src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png" alt="" srcset="">
                            </a>
                            <a href="login.html">
            
                                <img src="https://cdn-icons-png.flaticon.com/128/1647/1647547.png" alt="" srcset="">
                            </a>
                        </div>
                    </header>
                    <div class="login-container">
                        <div class="inp-name">
                            
                            <h2>Enter Name Of Person</h2>
                            <input type="text" class="enter-text">
                        </div>
                        <div class="same-div">
                            
                            <h2>Upload Image</h2>
                            <Label class="up-image-label" for="up-file">
                                <img class="get-img-up" src="https://cdn-icons-png.flaticon.com/128/5175/5175601.png" alt=""></Label>
                                <input id="up-file" type="file">
                            </div>
                            
                            <button class="upload">Upload</button>
                            
                        </div>
                    </div>
                    </div>
                </body>
                <script src="/static/js/login.js"></script>
                </html>