<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Votes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container ">
        
        <div class="pop-container">
            <canvas class="confetti" id="canvas"></canvas>
            <h1 class="thanksorerror">Thanks For Polling</h1>
            <h2>Share Votes On Social Media</h2>
            <div class="icon-imgs">
                <img class="facebook" src="https://cdn-icons-png.flaticon.com/128/733/733547.png" alt="" srcset="">
                <img class="instagram"  src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" alt="" srcset="">
                <img class="twitter" src="https://cdn-icons-png.flaticon.com/128/5968/5968830.png" alt="" srcset="">
            </div>
            <button class="okay">Okay</button>
            
        </div>
        <div class="allconty"> 
            <header>
                <ul class="navbar-items">
                    <li class="navbar-item"><a style="color: black;text-decoration: none;" href="index.html">Home</a></li>
                    <li class="navbar-item"><a style="color: black;text-decoration: none;" href="about.html">About us</a>
                    </li>
                    <li class="navbar-item"><a style="color: black;text-decoration: none;" href="contact_us.html">Contact
                        Us</a></li>
                        <li class="navbar-item"><a href="mentor.html" style="text-decoration: none; color: black;">Our
                            teacher</a></li>
                        </ul>
                        <div>
                            <input style="border: none; height: 30px;padding: 5px;" id="mysearch" type="text"
                            placeholder="Enter Search">
                            <a href="polling.html">
                            
                                <img id="load-poll" src="/static/images/graph.gif" alt="">
                            </a> 
                             <img id="dark-mode" style="display: none;" src="/images/graph.gif" alt="">
                             <a href="favourites.html">
             
                                 <img class="user" src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png" alt="" srcset="">
                             </a>
                             <a href="login.html">
             
                                 <img src="https://cdn-icons-png.flaticon.com/128/1647/1647547.png" alt="" srcset="">
                             </a>
                        </div>
                    </header>
                    <div class="polling-container">
                        <div class="pol-info">
                            
                            <center>
                                
                    <h1>Pole Your Favourites</h1>
                    <div class="share-div">
                        <h3>Share Your Experience On Social Media</h3>
                        <div class="socialmedia-icons-poll-div">
                            
                        </div>
                    </div>
                </center>
            </div>
            <div class="all-polls">
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<!-- <script src="./html2canvas.min.js" defer></script> -->

<script  src="/static/js/confetti.js"></script>
<script  src="/static/js/polling.js"></script>
</body>

</html>